.form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    padding: 5px;
    font-size: 14px;
}

.button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
