.list {
    list-style: none;
    padding: 0;
}

.eventItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    margin-left: 5px;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
}
